@use "./reset";
@use "./typography";
@use "./button";

@use "./header";
@use "./burger-menu";
@use "./hero";

header,
footer {
  height: 60px;
}

main > section {
  background-color: whitesmoke;
  padding: 5%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  > * {
    flex: 1 1 calc((100% - 1rem) / 2);
    min-width: min(100%, 20rem);
    box-sizing: border-box;
  }

  > :last-child:nth-child(odd) {
    flex-basis: 100%;
  }
}

.ctas {
  display: flex;
  gap: 10px;
}
