header {
  padding: 5px 5%;
  .wrapper {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      font-size: 1.2rem;
    }

    .logo {
      width: 50px;
      user-select: none;
    }
  }
}
